/* Define custom properties in :root */
:root {
    --primary-color: #1F3E1B;
    --secondary-color: #309437;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    font-family: "HelveticaNeue-R";
}

a {
    text-decoration: none
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: inline-block;
}

a,
a:focus,
a:hover,
input,
textarea {
    outline: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    border: 1px solid #707070;
    background: #fff;
    font-size: 12px;
    padding: 6px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-bottom: 35px;
    height: 35px;
}

button {
    overflow: visible;
    border: none;
    cursor: pointer;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0
}

.btn {
    font-size: 21px;
    padding: 13px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "HelveticaNeue-bold";
    color: #393C41;
    background: #FFFFFF;

}

.btn-green {
    background: var(--secondary-color) !important;
    color: #FFFFFF !important;
}

.owl-carousel .owl-item img {
    width: unset;
}

.grid-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/



/* Include Fonts */
@font-face {
    font-family: "HelveticaNeue-light";
    src: url(../fonts/Helvetica-Light.ttf)
}

@font-face {
    font-family: "HelveticaNeue-R";
    src: url(../fonts/Helvetica.ttf)
}

@font-face {
    font-family: "HelveticaNeue-bold";
    src: url(../fonts/Helvetica-Bold.ttf)
}


/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/



/* Navbar Css With En*/
.navbar {
    padding: 30px 0 0;
    background-color: var(--primary-color);
}

.navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar nav .menu li {
    margin: 0 15px;
}

.navbar nav .menu li a {
    color: #FFFFFF;
    font-size: 18px;
    font-family: "HelveticaNeue-bold";
}

.navbar nav .menu li .btn {
    background: #FFFFFF;
    border: 1px solid #707070;
    font-size: 14px;
    font-family: "HelveticaNeue-bold";
    color: #393C41;
    padding: 7px 30px;
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile Menu Icon CSS */
.mobile-menu-icon {
    display: none;
    /* Initially hidden on larger screens */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
}

.mobile-menu-icon span {
    width: 100%;
    height: 4px;
    background-color: #FFFFFF;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Style for "X" icon */
.mobile-menu-icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 2px);
}

.mobile-menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.mobile-menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -2px);
}

@media (max-width: 1024px) {

    /* Show the mobile menu icon and hide the menu items */
    .mobile-menu-icon {
        display: flex;
    }

    .navbar nav .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-color);
        position: absolute;
        top: 130px;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: 9;
    }

    .navbar nav .menu.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    /* Style for menu items on mobile */
    .navbar nav .menu li {
        margin: 15px 0;
    }

    .navbar nav .menu li a {
        font-size: 18px;
        font-family: "HelveticaNeue-bold";
        color: #FFFFFF;
    }
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {

    /* Show the mobile menu icon and hide the menu items */
    .mobile-menu-icon {
        display: flex;
    }

    .navbar nav .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-color);
        position: absolute;
        top: 130px;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: 9;
    }

    .navbar nav .menu.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    /* Style for menu items on mobile */
    .navbar nav .menu li {
        margin: 15px 0;
    }

    .navbar nav .menu li a {
        font-size: 18px;
        font-family: "HelveticaNeue-bold";
        color: #FFFFFF;
    }
}



/*Header Css By En*/
.header {
    background: var(--primary-color);
}

.header .grid-2col {
    padding: 50px 0;

}

.header .left-col {
    position: relative;
    padding: 60px 0;
}

.header .left-col .img-poss {
    position: absolute;
    right: 0;
    top: -50px;
}

.header .right-col {
    color: #FFFFFF;

}

.header .right-col h1 {
    color: #FFFFFF;
    font-size: 44px;
    font-family: "HelveticaNeue-bold";
    margin-bottom: 44px;
}

.header .right-col p {
    font-size: 14px;
    font-family: "HelveticaNeue-R";
    padding-right: 65px;

}

.header .right-col .buttons-group {
    grid-gap: 26px;
    margin-top: 55px;
}

.header .right-col .buttons-group a {
    height: 62px;
    width: 237px;
    color: var(--secondary-color);

}

.main-slider .owl-dots {
    display: flex !important;
    align-items: center;
    grid-gap: 20px;
    position: absolute;
    bottom: 28px;
    right: 360px;
}

.main-slider .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    background: #686D74;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: block;
    opacity: 25%;
}

.main-slider .owl-dots .owl-dot.active {
    border: 1px solid #686D74;
    border-radius: 50%;
    padding: 5px !important;

}

.main-slider .owl-dots .owl-dot.active span {
    opacity: 100%;
}

/* Header CSS for iPad and Mobile */
@media (max-width: 1024px) {
    .header .grid-2col {
        padding: 40px 0 70px;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .header .left-col {
        padding: 20px 0;
    }

    .header .right-col {
        text-align: center;
    }

    .header .right-col h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .header .right-col p {
        font-size: 12px;
    }

    .main-slider .owl-dots {
        right: 50%;
        transform: translateX(50%);
    }

    .header .left-col .img-poss {
        display: none;
    }

    .header .right-col .buttons-group {
        flex-flow: column;
    }

    .header .left-col img {
        margin: auto;
    }
}

/* Header CSS for Mobile */
@media (max-width: 768px) {
    .header .grid-2col {
        padding: 40px 0 70px;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .header .left-col {
        padding: 20px 0;
    }

    .header .right-col {
        text-align: center;
    }

    .header .right-col h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .header .right-col p {
        font-size: 12px;
    }

    .main-slider .owl-dots {
        right: 50%;
        transform: translateX(50%);
    }

    .header .left-col .img-poss {
        display: none;
    }

    .header .right-col .buttons-group {

        flex-flow: column;
    }
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/

/* Features section Css By En */
.features-section {
    margin-top: 60px;
    margin-bottom: 40px;

    overflow: hidden;
}

.features-section .title-section {
    text-align: center;
}

.features-section .title-section h2 {
    color: var(--primary-color);
    font-size: 49px;
    font-family: "HelveticaNeue-bold";
    margin-bottom: 14px;

}

.features-section .title-section p {
    color: var(--primary-color);
    font-size: 20px;
    font-family: "HelveticaNeue-R";

}

.features-section .list {
    padding-right: 70px;

}

.features-section ul li {
    padding-left: 45px;
    background: url(../images/icons/check-list.png) no-repeat left top;
    background-size: 29px 29px;
    margin-bottom: 40px;
}

.features-section ul li {
    color: var(--primary-color);
    font-size: 20px;
    font-family: "HelveticaNeue-light";
}

.features-section .image-mobile {
    width: 100%;
}

/* Responsive CSS for iPad screens */
@media screen and (max-width: 1024px) {
    .features-section .title-section h2 {
        font-size: 40px;
        /* Adjust the font size for smaller screens */
    }

    .features-section .title-section p {
        font-size: 18px;
        /* Adjust the font size for smaller screens */
    }

    .features-section .list {
        padding-right: 20px;
        /* Adjust the padding for smaller screens */
    }

    .features-section ul li {
        padding-left: 35px;
        /* Adjust the padding for smaller screens */
        font-size: 18px;
        /* Adjust the font size for smaller screens */
    }
}

/* Additional CSS for smaller iPad screens if needed */
@media screen and (max-width: 768px) {
    .features-section .title-section h2 {
        font-size: 30px;
    }

    .features-section .title-section p {
        font-size: 16px;
    }

    .features-section .list {
        padding-right: 10px;
    }

    .features-section ul li {
        padding-left: 30px;
        font-size: 16px;
    }
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/


/* Easy Invoices section Css By En */

.easy-invoices-section {
    background: var(--secondary-color);
    position: relative;
}

.easy-invoices-section .girl-plant {
    width: 530px;
    position: absolute;
    top: -100px;
}

.easy-invoices-section .text {
    padding: 102px 0 75px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.easy-invoices-section .text h4 {
    font-size: 55px;
    font-family: "HelveticaNeue-bold";
    color: #FFFFFF;
    margin-bottom: 55px;
}

.easy-invoices-section .text p {
    font-size: 26px;
    font-family: "HelveticaNeue-R";
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 75px;
}

.easy-invoices-section .text .btn {
    font-size: 21px;
    font-family: "HelveticaNeue-bold";
    color: #FFFFFF;
    background: var(--primary-color);
    width: 216px;
    margin: 0 auto;

}

/* Media query for iPad screens (landscape and portrait) */
@media screen and (max-width: 1024px) {
    .easy-invoices-section {
        padding: 30px 0;
        /* Adjust padding for smaller screens */
    }

    .easy-invoices-section .girl-plant {
        max-width: 350px;
        /* Reduce the maximum width further */
        margin-top: -50px;
        /* Adjust positioning */
        display: none;
    }

    .easy-invoices-section .text h4 {
        font-size: 30px;
        /* Adjust font size */
        margin-bottom: 15px;
        /* Adjust spacing */
    }

    .easy-invoices-section .text p {
        font-size: 16px;
        /* Adjust font size */
        margin-bottom: 15px;
        /* Adjust spacing */
    }

    .easy-invoices-section .text .btn {
        font-size: 16px;
        /* Adjust font size */
        width: 160px;
        /* Adjust button width */
        margin: 0 auto;
    }
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/



/* Dashboard Features Css BY EN*/
.dashboard-features-section {
    background: var(--primary-color);
    padding: 100px 0 140px;
    color: #FFFFFF;
}

.title-section {
    text-align: center;
}

.title-section h2 {
    font-size: 49px;
    font-family: "HelveticaNeue-bold";
}

.dashboard-features-section .title-section h2 {
    color: #FFFFFF;
}

.dashboard-features-section .title-section p {
    font-size: 22px;
    font-family: "HelveticaNeue-light";
    margin-top: 30px;
    margin-bottom: 90px;

}

.container-features {
    justify-content: center;
    grid-gap: 100px;
}

.container-features .feature-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-gap: 10px;
    padding: 0 90px;
}

.container-features .feature-box .title {
    font-size: 24px;
    font-family: "HelveticaNeue-bold";
}

.container-features .feature-box .description {
    font-size: 16px;
    font-family: "HelveticaNeue-light";
    margin-top: 20px;
}

/* Media query for iPad screens */
@media screen and (max-width: 1024px) {
    .title-section h2 {
        font-size: 40px;
        /* Adjust the font size for smaller screens */
    }

    .container-features {
        grid-gap: 30px;
        /* Adjust grid gap for smaller screens */
        grid-template-columns: 1fr;

    }

    .container-features .feature-box {
        margin: 0 10px;
        /* Adjust spacing for smaller screens */
    }

    .container-features .feature-box .title {
        font-size: 20px;
        /* Adjust the font size for smaller screens */
    }

    .container-features .feature-box .description {
        font-size: 14px;
        /* Adjust the font size for smaller screens */
    }
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/



/* Footer Css BY EN*/
footer {
    padding-top: 35px;
    background: var(--secondary-color);
    color: #fff;
    padding-bottom: 35px;
}

footer a {
    color: #fff;
}

footer h4 {
    margin-bottom: 30px;
    font-size: 16px;
    font-family: "HelveticaNeue-bold";

}

footer .list-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 60px;
    width: max-content;
}

footer p,

footer .list-footer li {
    font-size: 12px;
}

footer p {
    margin-bottom: 30px;
}

footer .list-footer li:nth-last-child(-n+2) {
    grid-column: span 2;
    /* This spans two columns */
}

footer input {
    display: block;
    width: 285px;
}

footer .btn {
    height: 35px;
    font-size: 14px;
    background: var(--primary-color);
    color: #fff;
    width: 130px;
    margin-bottom: 40px;
}

footer .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

footer .input-group input {
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
}

footer .input-group .btn {
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
}

footer .input-group .btn,
footer .input-group input {
    height: 41px;
    margin: 0;
}

footer .news {
    margin-left: 60px;
}

footer .logo {
    text-align: end;
    margin-top: 60px;
}

.copyright p {
    padding-top: 25px;
    font-size: 12px;
    margin-bottom: 0;
}

/* Media query for screens smaller than md (medium) */
@media (max-width: 768px) {
    footer .list-footer {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: auto;

    }

    footer .col-md-3,
    footer .col-md-5,
    footer .col-md-4 {
        margin-bottom: 30px;
        text-align: center;

    }

    footer .news {
        margin-left: 0;
    }

    footer .logo {
        text-align: center;
        margin-top: 30px;
    }

    footer input {
        display: block;
        width: 100%;
    }

    footer .btn {
        margin: auto;
    }

    .copyright p {

        text-align: center;
    }
}



/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/


/* To Navbar Tour Page*/
.tour-page .navbar {
    background: #FFFFFF;
}

.tour-page .navbar nav .menu li a {
    color: var(--primary-color);
}

.tour-page .navbar nav .menu li .btn {
    background: var(--primary-color);
    color: #FFFFFF;
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/


/* banner  Css BY EN*/


.banner .content {
    padding: 100px 0 65px 60px;

}

.banner .content h2 {
    font-size: 44px;
    font-family: "HelveticaNeue-bold";
    margin: 0 0 15px 0;
    color: var(--primary-color);

}

.banner .content p {
    font-size: 14px;
    font-family: "HelveticaNeue-R";
    color: var(--primary-color);

}

.banner .content .big-btn {
    border: 2px solid var(--primary-color);
    padding: 25px 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin-top: 40px;
    height: 120px;

}

.banner .content .big-btn span:first-child {
    font-size: 32px;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.banner .content .big-btn span:last-child {
    font-size: 21px;
    font-family: "HelveticaNeue-light";
    color: var(--primary-color);

}

.banner .images-right {
    position: relative;
    text-align: end;
    padding-top: 30px;

}

.banner .images-right img:first-child {
    position: absolute;
    top: -10px;
    left: 70px;
}

/* Media query for screens smaller than md (medium) */
@media (max-width: 768px) {
    .banner .content {
        padding: 30px 0 30px 0;
    }

    .banner .content h2 {
        font-size: 30px;
        margin: 0 0 20px 0;
    }

    .banner .content p {
        font-size: 12px;
    }

    .banner .content .big-btn {
        padding: 15px;
        margin: 30px auto 20px;
    }

    .banner .content .big-btn span:first-child {
        font-size: 24px;
    }

    .banner .content .big-btn span:last-child {
        font-size: 16px;
    }

    .banner .images-right img:first-child {
        top: 0;
        left: 60px;
        max-height: 360px;
    }
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/




/* Quick  solution Css BY EN*/

.QuickAndEasySolution {
    background: var(--primary-color);
    padding: 100px 0 90px;
    color: #FFFFFF;
}




.tab-button {
    cursor: pointer;
    padding: 16px 20px;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    font-family: "HelveticaNeue-bold";
    font-size: 16px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.tab-button:hover {
    background-color: var(--secondary-color);
    color: #FFFFFF;
}

.tab-button.active {
    background-color: var(--secondary-color);
    color: #FFFFFF;

}

/* Style for tab content */
.tab-content {
    display: none;
    padding-left: 100px;
}

.QuickAndEasySolution .title {
    color: #fff;
    font-family: "HelveticaNeue-bold";
    font-size: 44px;
    margin-bottom: 50px;
}

.QuickAndEasySolution .description {
    font-family: "HelveticaNeue-R";
    font-size: 16px;
    margin-bottom: 100px;
    color: #fff;

}

.container-feat {
    justify-content: space-around;
    margin-bottom: 50px;
}

.container-feat .box {
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.container-feat .box img {
    width: max-content;
}

.container-feat .box h4 {
    color: #fff;
    font-family: "HelveticaNeue-bold";
    font-size: 22px;
}

.container-feat .box p {
    font-size: 16px;
}

.vertical-feat {
    padding: 80px 0;
    grid-gap: 80px;

}

.container-vertical-feat {
    text-align: center;
}

.container-vertical-feat .box {
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    margin-bottom: 80px;
}

.QuickAndEasySolution .title-bottom {
    text-align: center;
    color: #fff;
    font-family: "HelveticaNeue-bold";
    font-size: 44px;
}

/* Media query for screens smaller than md (medium) */
@media (max-width: 768px) {
    .tab-content {

        padding: 30px 10px;
    }

    .QuickAndEasySolution .title {
        font-size: 24px;
        /* Adjust font size for smaller screens */
        margin-bottom: 20px;
        /* Adjust margin for smaller screens */
    }

    .QuickAndEasySolution .description {
        font-size: 14px;
        /* Adjust font size for smaller screens */
        margin-bottom: 50px;
        /* Adjust margin for smaller screens */
    }

    .container-feat .box {
        max-width: 80%;
        grid-gap: 20px;
    }

    .container-feat .box h4 {
        font-size: 18px;
        /* Adjust font size for smaller screens */
    }

    .container-feat .box p {
        font-size: 14px;
        /* Adjust font size for smaller screens */
    }

    .vertical-feat {
        padding: 20px 0;
        /* Adjust padding for smaller screens */
        grid-gap: 20px;
        margin: 30px 0;

    }

    .QuickAndEasySolution {
        padding: 40px 0;
    }

    .container-vertical-feat .box {
        max-width: 100%;

    }

    .QuickAndEasySolution .title-bottom {
        font-size: 24px;
        /* Adjust font size for smaller screens */
    }

    .container-feat {
        flex-flow: column;
        align-items: center;
        justify-content: center;

    }
}


/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/




.banner-sgin {
    background-color: var(--primary-color);
    height: 290px;

}

.banner-sgin .content {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0;
}

.banner-sgin .content h2 {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.banner-sgin .content p {
    color: #FFFFFF;
    font-size: 19px;

}

.images-right-en {
    background-image: url(../images/background_nbanner_sgingup.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 290px;
    padding-left: 60px;

}

/* Media query for screens smaller than md (medium) */
@media (max-width: 768px) {
    .banner-sgin {
        height: auto;
        padding: 30px 0;
        padding-left: 0 !important;
    }

    .banner-sgin .content {
        padding: 0;
        margin-bottom: 60px;

    }

    .images-right-en {
        height: 120px !important;
        padding-left: 0;
        text-align: center;
    }

    .banner-sgin img {
        width: 100%;

    }
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/

/* Start Simple advance*/
.SimpleAdvance {
    background: var(--primary-color);
    border-top: 1px solid rgb(228 228 228 / 40%);
    padding: 75px 0 40px;
}

.grid-form-1 textarea,
.grid-form-1 input {
    width: 100%;
    height: 53.43px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: 16px;
    color: #393C41;
    border: 1px solid #D8D9D9;
    margin-bottom: 35px;
}


.grid-form-1 textarea {
    height: 180px;
    padding: 20px;
    margin-bottom: 35px;

}

.grid-form-1 {
    padding-right: 160px;
}

.grid-form-1 form {
    margin-bottom: 125px;

}

.form-tow-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.container-vertical-feat .box {
    max-width: 200px;

}

.container-vertical-feat .box h4 {
    font-size: 22px;
    color: #fff;
    font-family: "HelveticaNeue-bold";
}

.container-vertical-feat .box p {
    font-size: 16px;
    color: #fff;

}

.grid-form-1 .bottom-title {
    font-size: 44px;
    color: #fff;
    font-family: "HelveticaNeue-bold";
    margin-bottom: 35px;
}

.grid-form-1 .bottom-descrption {
    color: #fff;
    font-size: 16px;

}

/* Media query for screens smaller than md (medium) */
@media (max-width: 768px) {
    .form-tow-col {
        grid-template-columns: 1fr;
        grid-gap: 0;

    }

    .container-vertical-feat .box {
        max-width: 100%;
    }

    .grid-form-1 .bottom-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .grid-form-1 .bottom-description {
        font-size: 12px;
    }

    .grid-form-1 {
        padding: 30px 0;
    }

    .grid-form-1 form {
        margin-bottom: 40px;
    }

    .container-vertical-feat .box:last-child {
        margin-bottom: 0;
    }
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/


.banner-pricing .images-right-en {
    background-image: url(../images/Component\ 64\ –\ 1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    background: none;
}



/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/



/* Start CSS Plans Section By EN*/
.plans {
    background: var(--primary-color);
    padding: 60px 0 60px;
}
.banner-pricing{
    border-bottom: 1px solid #707070;
}

.plans .title {
    font-size: 49px;
    text-align: center;
    color: #FFFFFF;
    font-family: "HelveticaNeue-bold";

}

.plans .description {
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 80px;
}

.grid-plans {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 39px;
}

.grid-plans .box-plan {
    border: 1px solid #707070;
    background: #FFFFFF;
}

.grid-plans .box-plan ul li {
    color: #393C41;
    font-size: 15px;
    font-family: "HelveticaNeue-light";
    display: block;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #707070;

}

.grid-plans .box-plan .header-plan {
    padding: 30px;
    color: #FFFFFF;
}

.grid-plans .silver-plan .header-plan {
    background: #B6C3C3;
}

.grid-plans .gold-plan .header-plan {
    background: #C7C73F;
}

.grid-plans .platinum-plan .header-plan {
    background: #DEDECC;
}

.grid-plans .free-plan .header-plan {
    background: #73B752;
}

.grid-plans .box-plan .header-plan span {
    display: block;
}

.grid-plans .box-plan .header-plan span.name {
    font-size: 24px;
}

.grid-plans .box-plan .header-plan span.price {
    font-size: 38px;

}

.grid-plans .box-plan .header-plan span.month {
    font-size: 14px;

}

.grid-plans .box-plan .footer-list {
    font-size: 10px;
    border: none;
}

.btn-plan {
    background: var(--secondary-color);
    color: #FFFFFF;
    grid-gap: 10px;
    margin-top: 33px;
    margin-bottom: 90px;
    font-size: 26px;

}

.bottom-sec h2 {
    font-size: 44px;
    text-align: left;
    color: #FFFFFF;
    font-family: "HelveticaNeue-bold";
    margin-bottom: 35px;
}

.bottom-sec p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #FFFFFF;

}

.payment {
    border: 1px solid #707070;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
    width: max-content;
}

/* Media queries for responsive design */

/* For screens less than or equal to 768px */
@media (max-width: 768px) {
    .plans {
        padding: 60px 0 40px;
        /* Adjust padding for smaller screens */
    }

    .plans .title {
        font-size: 40px;
        /* Decrease font size for smaller screens */
    }

    .plans .description {
        font-size: 18px;
        /* Decrease font size for smaller screens */
        margin-bottom: 60px;
        /* Adjust margin for smaller screens */
    }

    .grid-plans {
        grid-template-columns: 1fr 1fr;
        /* Two columns for smaller screens */
        grid-gap: 20px;
        /* Adjust grid gap for smaller screens */
    }

    /* Box-plan styles for smaller screens */

    .btn-plan {
        font-size: 22px;
        margin-top: 40px;

    }

    .bottom-sec h2 {
        font-size: 36px;
        /* Decrease font size for smaller screens */
    }

    .bottom-sec p {
        font-size: 14px;
        /* Decrease font size for smaller screens */
        margin-bottom: 30px;
        /* Adjust margin for smaller screens */
    }
    .banner-pricing .images-right-en{
        height: 220px !important;
    }
}

/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/
.tour-page .mobile-menu-icon span,
.page-contact-us .mobile-menu-icon span {
    background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {

    .tour-page .navbar nav .menu,
    .page-contact-us .navbar nav .menu {
        background: #FFFFFF;

    }

    .navbar {
        padding: 10px 0 0;
    }
}

.page-contact-us .navbar {
    background: #FFFFFF;
}

.tour-page .navbar nav .menu li .btn {
    background: var(--primary-color);
    color: #FFFFFF;
}

.page-contact-us .navbar nav .menu li a {
    color: var(--primary-color);
}

.page-contact-us .navbar nav .menu li .btn {
    background: var(--primary-color);
    color: #FFFFFF;
}

.banner-contact-us {
    height: 270px;
    background: #FFFFFF;
    padding-left: 40px;

}

.banner-contact-us .images-right-en {
    height: 270px;
    background: none;

}

.banner-contact-us .content p,
.banner-contact-us .content h2 {
    color: var(--primary-color);
}



/* Start Css Section Contact Us By EN */
.contact-us {
    background: var(--primary-color);
    padding: 70px 0 60px;
}

.contact-us .grid-form-1 form {
    margin-bottom: 100px;
}

.contact-us .title {
    line-height: 1.4;
    font-size: 49px;
    font-family: "HelveticaNeue-bold";
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 45px;

}

.contact-us .description {
    color: #FFFFFF;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 70px;
}

.contact-us .grid-form-1 {
    padding: 0;
    max-width: 830px;
    margin: auto;
}

.contact-us .bottom-sec p {
    margin-bottom: 0;
}


/* Media Query for Tablet Screens */
@media (max-width: 992px) {
    .contact-us .title {
        font-size: 40px;
    }

    .contact-us .description {
        font-size: 14px;
    }
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
    .contact-us .title {
        font-size: 30px;
    }

    .contact-us .description {
        font-size: 12px;
    }

    .contact-us .grid-form-1 {
        max-width: 100%;
    }

    .contact-us .form-area {
        margin-bottom: 20px;
    }

    .contact-us .btn {
        font-size: 20px;
    }
}


/*  
===================================  ===================================  ===================================  
===================================   created by front-end developer EN   =================================== 
===================================  ===================================  ===================================  
*/

.KnowBusiness {
    padding: 80px 0 88px;
    background: #F8F8F8;

}

.KnowBusiness .title {
    text-align: center;
    font-size: 42px;
    font-family: "HelveticaNeue-bold";
    color: var(--primary-color);
    margin-bottom: 20px;
}


.KnowBusiness .title span.green {
    color: var(--secondary-color);
}

.KnowBusiness .description {
    text-align: center;
    font-size: 22px;
    font-family: "HelveticaNeue-light";
    color: var(--primary-color);
    margin-bottom: 85px;
}

.grid-4col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 145px;
}

.grid-4col .feature {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 15px;
}

.grid-4col .feature .image {
    min-height: 90px;
    display: flex;
    align-items: center;
}

.grid-4col .feature h4 {
    font-size: 22px;
    font-family: "HelveticaNeue-bold";
    color: #27BA5A;

}

.grid-4col .feature p {
    font-size: 16px;
    color: #393C41;
}


/* Media query for screens smaller than or equal to 768px */
@media (max-width: 768px) {
    .KnowBusiness {
        padding: 50px 0;
    }

    .KnowBusiness .title {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .KnowBusiness .description {
        font-size: 18px;
        margin-bottom: 60px;
    }

    .grid-4col {
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
}

.circle-link a{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-link a i{
    color: var(--primary-color);
}

.dashboard-li a{
    display: flex;
    align-items: center;
    grid-gap: 5px;
}

.navbar nav .menu {
    display: flex;
    align-items: center;
}